<footer class="w-full bg-white text-dark py-6 mt-10">
<!--    <nav class="flex justify-center flex-wrap gap-6 text-gray-500 font-medium">-->
<!--        <a class="hover:text-gray-900" href="#">Home</a>-->
<!--        <a class="hover:text-gray-900" href="#">About</a>-->
<!--        <a class="hover:text-gray-900" href="#">Services</a>-->
<!--        <a class="hover:text-gray-900" href="#">Media</a>-->
<!--        <a class="hover:text-gray-900" href="#">Gallery</a>-->
<!--        <a class="hover:text-gray-900" href="#">Contact</a>-->
<!--    </nav>-->

    <div class="flex justify-center space-x-5" id="contact">
        <a href="tel:0888288104" target="_blank" rel="noopener noreferrer">
            <img width="36" height="36" src="https://img.icons8.com/external-flat-icons-inmotus-design/67/external-Call-round-mobile-ui-set-flat-icons-inmotus-design-2.png" alt="external-Call-round-mobile-ui-set-flat-icons-inmotus-design-2"/>        </a>
        <a href="https://www.facebook.com/too.hair.nhajat/" target="_blank" rel="noopener noreferrer">
            <img width="36" height="36" src="https://img.icons8.com/fluent/30/000000/facebook-new.png" />
        </a>
        <a href="https://m.me/too.hair.nhajat" target="_blank" rel="noopener noreferrer">
            <img width="36" height="36" src="https://img.icons8.com/fluent/30/000000/facebook-messenger--v2.png" />
        </a>
        <a href="http://zaloapp.com/qr/p/m0t8dzse6sml" target="_blank" rel="noopener noreferrer">
            <img width="36" height="36" src="https://img.icons8.com/color/48/zalo.png" alt="zalo"/>
        </a>
    </div>
    <p class="text-center text-gray-700 font-medium mt-3">&copy; 2025 Tớ Hài Nhất. All rights reserved.</p>
</footer>